agent/n8n/workflows/deepseek-chat-webhook.json
{
  "id": "a9d9cc0d-3a6b-4c94-9d14-a3ccbf5f4e17",
  "name": "DeepSeek Chat Webhook",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook_in",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        220,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.deepseek.com/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.DEEPSEEK_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ (() => { const body = $json.body || {}; const language = body.language === 'ar' ? 'ar' : 'en'; const incoming = Array.isArray(body.messages) ? body.messages : []; const fallbackMessage = String(body.message || '').trim(); const userMessage = fallbackMessage || (incoming.slice().reverse().find((m) => m && m.role === 'user' && typeof m.content === 'string')?.content || 'Hello'); const trimmed = incoming.filter((m) => m && typeof m.content === 'string' && (m.role === 'user' || m.role === 'assistant' || m.role === 'system')).slice(-12).map((m) => ({ role: m.role, content: String(m.content).trim() })).filter((m) => m.content.length > 0); const systemEn = 'You are Mira, customer support for BioPak Yemen. Be concise, practical, and natural. Keep replies to 1-3 short sentences unless the user asks for detail. Help with biodegradable packaging products, materials, orders, and sustainability. If exact stock, custom pricing, or freight details are unknown, say so and direct to info@biopak.ye or the contact form.'; const systemAr = 'أنتِ ميرا، موظفة دعم عملاء لشركة BioPak اليمن. كوني مختصرة وعملية وطبيعية. اجعلي الردود من جملة إلى ثلاث جمل إلا إذا طلب المستخدم تفاصيل. ساعدي في منتجات التغليف القابل للتحلل والمواد والطلبات والاستدامة. إذا لم تتوفر معلومات دقيقة عن المخزون أو الأسعار الخاصة أو الشحن فقولي ذلك ووجهي المستخدم إلى info@biopak.ye أو نموذج التواصل.'; const system = language === 'ar' ? systemAr : systemEn; const messages = [{ role: 'system', content: system }]; if (trimmed.length > 0) { messages.push(...trimmed); } else { messages.push({ role: 'user', content: userMessage }); } return { model: $env.DEEPSEEK_MODEL || 'deepseek-chat', temperature: 0.3, max_tokens: 500, messages }; })() }}",
        "options": {}
      },
      "id": "deepseek_chat_completion",
      "name": "DeepSeek Chat Completion",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"reply\": String($json.choices?.[0]?.message?.content || '').trim() || \"Sorry, I couldn't generate a reply right now.\", \"provider\": \"deepseek\" } }}",
        "options": {}
      },
      "id": "respond_out",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        900,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "DeepSeek Chat Completion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Completion": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "pinData": {},
  "versionId": "74f0b3e2-f0dd-4c70-9bde-f6d4c5f1d145"
}

